﻿<form name="ordersubmit" id="ordersubmit" method="post">
  <fieldset>
    <h1>Indk&oslash;bskurv</h1>
    <!--@If Not Defined(Ecom:Order.IsEmpty)-->
      <table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
        <tr class="basketheader">
          <td>Produktnavn</td>
          <td>Antal</td>
          <td align="right">Pris</td>
          <td></td>
        </tr>
        
        <!--@LoopStart(OrderLines)-->
          <tr class="orderline<!--@Ecom:Order:OrderLine.Type--> orderline">
            <td nowrap>
          
                <!--@Ecom:Order:OrderLine.ProductName.Short-->
                <!--@If Defined(Ecom:Order:OrderLine.ProductVariantText)-->
                  (<!--@Ecom:Order:OrderLine.ProductVariantText-->)
                <!--@EndIf(Ecom:Order:OrderLine.ProductVariantText)-->
              
            </td>
            <td><!--@Ecom:Order:OrderLine.Quantity--></td>
            <td align="right" nowrap><!--@Ecom:Order:OrderLine.TotalPriceWithProductDiscounts--></td>
            <td align="right" nowrap>
              <!--@If Defined(Ecom:Order:OrderLine.IsProduct)-->
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.IncrementLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-inc.gif" border="0" alt="" /></a>
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DecrementLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-dec.gif" border="0" alt="" /></a>
                <a class="orderfunctions" href="<!--@Ecom:Order:OrderLine.DeleteLink-->" title=""><img src="/Files/Billeder/Ecom/Grafik/basket-rem.gif" border="0" alt="" /></a>
              <!--@EndIf(Ecom:Order:OrderLine.IsProduct)-->
            </td>
          </tr>
          <!--@LoopStart(BOMItems)-->
            <tr class="orderline">
              <td nowrap><!--@Ecom:Order:OrderLine.ProductName.Short--></td>
              <td nowrap><!--@Ecom:Order:OrderLine.Quantity--></td>
              <td></td>
              <td nowrap><!--@Ecom:Order:OrderLine.TotalPrice-->
						 <!--Ecom:Product.ActualPrice--></td>
              <td></td>
            </tr>
			<!--DwTemplateTags-->
          <!--@LoopEnd(BOMItems)-->
        <!--@LoopEnd(OrderLines)-->
        
        <!--
        <tr class="total">
          <td colspan="2"><!--@Translate(paymentfee, "Paymentfee")--> (<!--@Ecom:Order.PaymentMethod-->)</td>
          <td align="right" title="Ecom:Order.PaymentFee.PriceFormatted"><!--@Ecom:Order.PaymentFee.PriceFormatted--></td>
        </tr>
        -->
        <tr class="total">
          <td colspan="2"><!--@Translate(deliveryfee, "Fragt")--> </td>
          <td align="right" title="Ecom:Order.ShippingFee.PriceFormatted"><!--@Ecom:Order.ShippingFee.PriceFormatted--></td>
        </tr>
        <tr class="total">
          <td><!--@Translate(total, "Total")--></td>
          <td></td>
          <td align="right"><!--@Ecom:Order.OrderLines.Total.PriceWithVAT--></td>
        </tr>

        <tr>
          <td colspan="2">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td colspan="2"></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="2"></td>
          <td>&nbsp;</td>
        </tr>

      </table>
      <a type="button" href="<!--@Ecom:Cart.EmptyCartLink-->">T&oslash;m kurv</a>
      <input style="float:right" type="submit" class="green" name="<!--@CartV2.NextStepButtonName-->" id="<!--@CartV2.NextStepButtonName-->" value="N&aelig;ste" />
    <!--@EndIf(Ecom:Order.IsEmpty)-->
    <!--@If Defined(Ecom:Order.IsEmpty)-->
      <!--@Translate(basketisempty, "Kurven er tom")-->
    <!--@EndIf(Ecom:Order.IsEmpty)-->
  </fieldset>
</form>
<!--DwTemplateTags-->


<style>
.orderline3 { display:none }
</style>

